# Requirement: Get results of last 5 matchs between 2 teams

# Set up

In [15]:
import pandas as pd

# Sourcing

In [16]:
df = pd.read_feather("../data/raw/train.feather")

In [17]:
data = df.copy()

In [18]:
data.head()

,id,target,home_team_name,away_team_name,match_date,league_name,league_id,is_cup,home_team_coach_id,away_team_coach_id,...,away_team_history_league_id_1,away_team_history_league_id_2,away_team_history_league_id_3,away_team_history_league_id_4,away_team_history_league_id_5,away_team_history_league_id_6,away_team_history_league_id_7,away_team_history_league_id_8,away_team_history_league_id_9,away_team_history_league_id_10
0,11906497,away,Newell's Old Boys,River Plate,2019-12-01 00:45:00,Superliga,636,False,468196.0,468200.0,...,1122.0,642.0,636.0,636.0,636.0,1122.0,636.0,642.0,636.0,1122.0
1,11984383,home,Real Estelí,Deportivo Las Sabanas,2019-12-01 01:00:00,Primera Division,752,False,516788.0,22169161.0,...,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0,752.0
2,11983301,draw,UPNFM,Marathón,2019-12-01 01:00:00,Liga Nacional,734,False,2510608.0,456313.0,...,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0,734.0
3,11983471,away,León,Morelia,2019-12-01 01:00:00,Liga MX,743,False,1552508.0,465797.0,...,743.0,743.0,743.0,743.0,743.0,743.0,743.0,743.0,746.0,743.0
4,11883005,home,Cobán Imperial,Iztapa,2019-12-01 01:00:00,Liga Nacional,705,False,429958.0,426870.0,...,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0,705.0

# Coding

In [19]:
data = data[['id','target','home_team_name','away_team_name','match_date']]

In [20]:
data.head()

,id,target,home_team_name,away_team_name,match_date
0,11906497,away,Newell's Old Boys,River Plate,2019-12-01 00:45:00
1,11984383,home,Real Estelí,Deportivo Las Sabanas,2019-12-01 01:00:00
2,11983301,draw,UPNFM,Marathón,2019-12-01 01:00:00
3,11983471,away,León,Morelia,2019-12-01 01:00:00
4,11883005,home,Cobán Imperial,Iztapa,2019-12-01 01:00:00

In [21]:
data.groupby(by=['home_team_name','away_team_name'], as_index=False).agg({'id':'nunique'}).sort_values(by='id', ascending=False)

              home_team_name    away_team_name  id
4168             Alajuelense         Herediano   7
435              AEK Larnaca               AEL   6
11208  Beitar Tel Aviv Ramla  Hapoel Ramat Gan   6
49876                Maribor             Bravo   6
36013              Herediano       Alajuelense   6
...                      ...               ...  ..
33666              Győri ETO           Budaörs   1
33665              Győri ETO      Budafoki MTE   1
33664              Győri ETO              BVSC   1
33662               Gyongyos  Mezőkövesd-Zsóry   1
90835       Žďár nad Sázavou          Humpolec   1

[90836 rows x 3 columns]

In [22]:
final_data = data.sort_values(by='match_date', ascending=False)

In [23]:
final_data['match_result_last_1'] = final_data.groupby(by=['home_team_name','away_team_name'],
                                                       as_index=False)['target'].shift(-1)
final_data['match_date_last_1'] = final_data.groupby(by=['home_team_name','away_team_name'],
                                                       as_index=False)['match_date'].shift(-1)

In [24]:
final_data['match_result_last_2'] = final_data.groupby(by=['home_team_name','away_team_name'],
                                                       as_index=False)['target'].shift(-2)
final_data['match_date_last_2'] = final_data.groupby(by=['home_team_name','away_team_name'],
                                                       as_index=False)['match_date'].shift(-2)

In [25]:
final_data['match_result_last_3'] = final_data.groupby(by=['home_team_name','away_team_name'],
                                                       as_index=False)['target'].shift(-3)
final_data['match_date_last_3'] = final_data.groupby(by=['home_team_name','away_team_name'],
                                                       as_index=False)['match_date'].shift(-3)

In [26]:
final_data['match_result_last_4'] = final_data.groupby(by=['home_team_name','away_team_name'],
                                                       as_index=False)['target'].shift(-4)
final_data['match_date_last_4'] = final_data.groupby(by=['home_team_name','away_team_name'],
                                                       as_index=False)['match_date'].shift(-4)

In [27]:
final_data['match_result_last_5'] = final_data.groupby(by=['home_team_name','away_team_name'],
                                                       as_index=False)['target'].shift(-5)
final_data['match_date_last_5'] = final_data.groupby(by=['home_team_name','away_team_name'],
                                                       as_index=False)['match_date'].shift(-5)

In [29]:
final_data.head()

,id,target,home_team_name,away_team_name,match_date,match_result_last_1,match_date_last_1,match_result_last_2,match_date_last_2,match_result_last_3,match_date_last_3,match_result_last_4,match_date_last_4,match_result_last_5,match_date_last_5
110937,17786297,home,Colón,Arsenal de Sarandi,2021-05-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110936,17944153,away,Everton,La Serena,2021-05-01 00:00:00,draw,2020-03-14 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110927,17715494,draw,Rio Claro,Portuguesa,2021-04-30 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110935,17715497,draw,São Bernardo,Água Santa,2021-04-30 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110934,18030096,away,Royal Pari,Oriente Petrolero,2021-04-30 23:00:00,home,2020-01-23 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
final_data.to_csv("../data/predicted/question_2_result.csv")